# Ignore local environment files with secrets
.env

# VS Code
.vscode/

#log files
logs/

# Python
__pycache__/
*.py[cod]
.Python
build/
dist/
downloads/
lib/
lib64/

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#Local reports
battery_report.xml